<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

<!-- Spring整合Mybatis -->
<!-- 加载数据库属性配置文件信息 -->
<bean id="config"
		class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:db.properties</value>
			</list>
		</property>
	</bean>
<!-- 配置数据库连接池(使用BDCP连接池)  -->
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${driver}" />
		<property name="url" value="${url}" />
		<property name="username" value="${username}" />
		<property name="password" value="${password}" />
		<property name="maxActive" value="10" />
		<property name="maxIdle" value="5" />
	</bean>
	
<!-- 将MyBatis使用的sqlsessionfactory,交给Spring来管理 -->
<bean id="sqlSessionFactory"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<!--数据库连接池 -->
		<property name="dataSource" ref="dataSource"></property>
		<!-- 自动注册*Mapper.xml -->
		<property name="mapperLocations"
			value="classpath:yuan/zhang/dao/*.xml"></property>
	</bean>
	
	<!-- 通过Mapper扫描器MapperScannerConfigurer，批量将 basePackage指定包中的DAO接口全部生成Mapper动态代理对象 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="yuan.zhang.dao"></property>
		<property name="sqlSessionFactoryBeanName"
			value="sqlSessionFactory"></property>
	</bean>
	
	<!-- setter方式注入 -->
	<bean id="userService"
		class="yuan.zhang.service.imp.UserServiceImp">
		<property name="userDao" ref="userDao"></property>
	</bean> 
	<bean id="recordService"
		class="yuan.zhang.service.imp.RecordServiceImp">
		<property name="recordDao" ref="recordDao"></property>
	</bean> 
</beans>
